language: python
python:
  - "2.7"
  
cache:
  directories:
    - ~/virtualenv/python2.7_with_system_site_packages

virtualenv:
  system_site_packages: true

before_install:
  - bash <(wget -O- http://neuro.debian.net/_files/neurodebian-travis.sh)
  - sudo apt-get install -qq python-numpy python-scipy python-matplotlib python-pandas python-sklearn python-skimage
  - pip install six

# command to install dependencies
install:
  - "pip install -r travis_requirements.txt"
  - "pip install ./src"

# command to run tests
script: nosetests -w src/tests/unit_tests --with-coverage --cover-package=mia
