language: python
python:
  - "2.7"

cache:
  directories:
    - ~/virtualenv/python2.7_with_system_site_packages

virtualenv:
  system_site_packages: true

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - bash <(wget -O- http://neuro.debian.net/_files/neurodebian-travis.sh)
  - sudo apt-get install -qq python-numpy python-scipy python-matplotlib python-pandas python-sklearn python-skimage
  - pip install six==1.3
# command to install dependencies
install:
  - "cd src"
  - "python setup.py build_ext --inplace"
  - "cd .."
  - "pip install -r travis_requirements.txt"
  - "pip install ./src"

# command to run tests
script:
  - nosetests -w src/tests --with-coverage --cover-package=mia --cover-min-percentage=90
  - pep8 src/mia --count
